\Lab4_N19DCCN171\WebContent\WEB-INF\configs\spring-config-hibernate.xml
\Lab4_N19DCCN171\WebContent\WEB-INF\configs\spring-config-hibernate.xml
\Lab4_N19DCCN171\.classpath
\Lab4_N19DCCN171\.classpath
